.info {
    color: black;
    background: rgb(221, 216, 216);
    font-size: 0.8em;
    border-radius: 5px;
    margin: 5px;
}

.overview {
    padding: 5px 15px 15px 15px;
}

h3 {
    padding-top: 15px;
}

